/* fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans&display=swap');

/* custom */
body {
  color: #eceff4;
  background-color: #2e3440;

  font-family: 'Fira Sans', sans-serif, 'Fira Mono';
  font-size: 16px;
}

blockquote {
  padding-left: 20px;
}

a {
  color: #A3BE8C;
}

a:focus, a:hover {
  color: #A3BE8C;
  text-decoration: underline;
}

/* syntax highlighting */
.hljs {
  background-color: #2e3440 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
